{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}代购助手{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
{% endblock %}

{% block content %}
<div class='container', style="padding:0 25px; max-width:350px">
  <h2>代购助手</h2>
  <h4>订单快递查询</h4>
  <br>
    <form method="POST" action="/dl/">
        <dl>
        {{ form.csrf_token }}
        {{ wtf.form_field(form.client) }}
        {{ wtf.form_field(form.phone) }}
        <input class="btn btn-default" type="submit" value="查询">
        </dl>
    </form>
</div>
{% endblock %}

{% include "daili/footer.html" %}
