{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}橙昕美购 - 查询{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
{% endblock %}

{% block content %}
<div class='container index-card'>
  <h2>橙昕美购</h2>
  <h4>订单与快递查询工具</h4>
  <p>掌柜微信：jelfsony</p>
  <br>
    <form method="POST" action="/">
        <dl>
        {{ form.csrf_token }}
        {{ wtf.form_field(form.client) }}
        {{ wtf.form_field(form.phone) }}
        <input class="btn btn-default" type="submit" value="查询">
        </dl>
    </form>
</div>
{% if searches|length %}
<div class='container index-card card'>
    <div class="card-header">
        <h5>历史记录</h5>
    </div>
    <ul class="list-group list-group-flush" >
        {% for search in searches %}
        <li class="list-group-item">
            {{ search.client }} {{ search.phone}}
            <a class="search-history" href="{{ url_for('orders', client=search.client, phone=search.phone) }}">查看</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<style>
    .index-card {
        padding: 0 25px;
        max-width: 350px;
    }
    .search-history {
        float: right;
    }
</style>
{% endblock %}

{% include "footer.html" %}
