{% extends "bootstrap/base.html" %}

{% block content %}
<table class="table table-striped">
<thead>
    <tr>
        <th>更新时间</th> 
        <th>物流状态</th>
    </tr>
</thead>
<tbody>
{% for status in statuses %}
    <tr>
        <td white-space: nowrap>{{ status.time }}</td>
        {% if status.status.startswith('EMS') %}
            <td><a href="https://m.kuaidi100.com/index_all.html?type=ems&postid={{ status.status.split('：')[1] }}">{{ status.status }}</a></td>
        {% else %}
            <td>{{ status.status }}</td>
        {% endif %}
    </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}